.content{
    padding-bottom: 3em;
}
.daily_item{
    text-align: center;
    margin-bottom: 2em;
}
.item_wrap{
    border-bottom: 1px solid #888;
    width: 90%;
}
.img{
    width: 100%;
    height: 14em;
    margin: 0 auto;
}
.title{
    margin: 0.4em 0em;
    font-size: 1.3em;
    font-weight: 700;
}
.price{
    color: red;
    margin: 0.3em 0em;
    font-size: 1.2em;
}
.saleNum{
    margin-bottom: 1em;
}